@media (max-width: 1200px) {
  body {
    background-color: #000;
  }

  .fundo-video {
    display: none;
  }

  .container {
    flex-direction: column;
    height: auto; /* Resetando a configuração de altura com calc */
    gap: 4rem;
  }

  .container .informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .informacoes .descricao {
    text-align: center;
  }

  .container .personagens {
    max-width: 70%;
  }
}

@media (max-width: 500px) {
  .cabecalho {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .container .game-logo {
    max-width: 95%;
  }

  .modal .fechar-modal {
    width: 3rem;
    line-height: 3rem;
  }

  .modal #video {
    width: 30rem;
    height: 16.9rem;
  }

  .container .personagens {
    max-width: 100%;
  }
}

@media (max-width: 376px) {
  .modal #video {
    width: 25rem;
    height: 14rem;
  }
}
