body {
  font-family: "Poppins", sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.cabecalho .logo {
  width: 6.5rem;
}

.cabecalho .menu {
  display: flex;
  gap: 3rem;
}

.menu li a {
  font-weight: bold;
  color: #ffffff;
  font-size: 2.2rem;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  transition: 0.3s ease-in-out;
}

@media (hover: hover) {
  .menu li a:hover,
  .container .botao-trailer:hover,
  .fechar-modal:hover {
    background-color: #8a1616;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: calc(
    100vh - 114.44
  ); /* Se colocarmos só 100vh (para preencher a tela toda, pois a caixa original é limitada), um scroll lateral será adicionado devido à altura do header de classe "cabecalho". Para isso subtraimos a altura do header da altura de 100vh */
  padding: 0 5rem;
}

.container .game-logo {
  width: 50rem;
}

.container .descricao {
  width: 85%;
  margin: 3rem 0;
  font-size: 1.8rem;
  color: #ffffff;
}

.container .botao-trailer {
  background-color: #252323;
  color: #ffffff;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
}

.fundo-video {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  overflow: hidden; /* Escondendo o excesso (transbordando) para não ter scroll */
  text-align: center;
  display: flex;
  justify-content: center;
}

.fundo-video::after {
  /* Máscara que fica acima do vídeo, para ficar menos opaco */
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.modal {
  background-color: rgba(52, 52, 50, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
}

.conteudo-modal {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.fechar-modal {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.modal.aberto {
  visibility: visible;
}
